<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Library">
			<directory>test</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./server</directory>
		</include>
	</coverage>
</phpunit>
