on:
  - pull_request
  - push

name: CI

jobs:
  test:
    name: Tests

    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]
        php-versions: ['7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4']

    runs-on: ${{ matrix.operating-system }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: sockets, json, curl

    - name: Install dependencies with composer
      run: composer install

    - name: Test with phpunit
      run: vendor/bin/phpunit

  phpstan:
    name: PHPStan

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        tools: phpstan:2.1.8
        extensions: sockets, json, curl

    - name: Install dependencies with composer
      run: composer install

    - name: Test with phpstan
      run: phpstan
